@import '../../../styles/variables';

.menuHeader {
  position: sticky;
  top: 0;
  height: $header-height;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  .menuHeaderContent {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: $content-max-width;
    padding: $step * 3 $main-side-padding;
    .contentLeftSide {
      display: flex;
      align-items: center;
      gap: $step * 3;
    }
  }
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.contentRightSide {
  display: flex;
  gap: $step * 2;
  align-items: center;
}
.menuAndMain {
  height: calc(100% - #{$header-height});
  min-height: calc(100vh - #{$header-height});
  width: 100%;
  max-width: $content-max-width;
  position: relative;
  display: flex;
  margin: 0 auto;
}
.menuBar {
  position: relative;
  padding: $default-padding $main-side-padding;
  width: 250px;
  flex-shrink: 0;
  transition: width 700ms;
  overflow: hidden;
  &Collapsed {
    width: 20px + 36px + 20px + 4px;
    transition: width 700ms;
  }
}