@import 'variables.scss';
@import 'colors';
html {
  height: 100%;
}
.default-link {
  text-decoration: none;
  color: #4813F0;
  transition: color 0.5s;
}
.default-link:hover {
  color: #4078EF;
}
body {
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
}
main {
  flex-grow: 1;
  padding: $default-padding $main-side-padding $default-padding 0;
  word-break: break-all;
  overflow-x: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
