@import '_variables.scss';

body {
  min-height: 100vh;
  overflow-x: hidden;
}
main {
  height: 100%;
  min-height: 100vh;
  background-color: #ddd;
}
.container {
  margin: 0 auto;
  padding: 50px;
  width: 700px;
}
