@import 'variables.scss';
html {
  height: 100%;
}
.default-link {
  text-decoration: none;
  color: #4813F0;
  transition: color 0.5s;
}
.default-link:hover {
  color: #4078EF;
}
body {
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
}
main {
  background-color: #ddd;
  flex-grow: 1;
  padding: $default-padding $main-side-padding $default-padding 0;
  word-break: break-all;
  overflow-x: hidden;
}
