@import '../../styles/variables';
.controlPanel {
  margin-bottom: $step * 2; 
}
.logInWrapper {
  padding: $step * 10;
}
.logInContainer {
  margin: 0 auto;
  padding: $step * 4;
  width: 700px;
  form {
    display: flex;
    flex-direction: column;
    gap: $step * 3;
  }
}