@import '../../../../../../styles/variables';

.taskPage {
  display: flex;
  gap: $step * 3;
}

.taskMainInfo, .taskExtraInfo {
  display: flex;
  flex-direction: column;
  gap: $step * 4;
}
.taskMainInfo {
  width: 65%;
  align-items: flex-start;
  position: relative;
  > div:not(.mainInfoHeader) {
    width: 100%;
  }
  .mainInfoHeader {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.taskExtraInfo {
  width: 35%;
}