@import '../../../styles/variables';
.defaultTextFieldWrapper {
  padding-top: $step;
  display: flex;
  flex-direction: column;
  gap: #{$step * 2};
  > :global(.MuiTextField-root) {
    width: 100%;
  }
}