@import '../../../styles/variables';

.projectBoard {
  // display: flex;
  // flex-direction: row;
  gap: $step * 3;
  flex-wrap: wrap;
  margin-top: $step * 4;
}
.projectsPageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardMedia {
  min-width: 140px;
  min-height: 140px;
  width: 140px;
  height: 140px;
  position: relative;
}
.cardContent {
  width: auto;
  backdrop-filter: blur(8px) opacity(80%);
  border-radius: 8px;
}
.projectsViewControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $step;
  font-size: 4px;
  svg {
    cursor: pointer;
  }
}

.cardDefaultStyles {
  position: relative;
  &::before {
    opacity: 0.3;
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
}
.plantPattern {
  &::before {
    content: '';
    background-image: url('../../../../public/assets/images/patterns/plants_pattern.svg');
    background-size: 300px;
  }
}
.patternRed {
  &::before {
    background-color: rgba(255, 0, 0, 0.3);
    background-blend-mode: overlay;
  }
}
.patternGreen {
  &::before {
    background-color: rgba(0, 255, 0, 0.3);
    background-blend-mode: overlay;
  }
}
.patternBlue {
  &::before {
    background-color: rgba(0, 0, 255, 0.3);
    background-blend-mode: overlay;
  }
}
